@import url("https://use.typekit.net/ont3ybf.css");

.codrops-scroll-grid,
.codrops-scroll-grid * ,
.codrops-scroll-grid *::after,
.codrops-scroll-grid *::before {
  box-sizing: border-box;
}

.codrops-scroll-grid {
  min-height: 100vh;
  margin: 0;
  --color-text: #111;
  --color-bg: #d8d2cd;
  --color-link: #b41717;
  --color-link-hover: #000;
  --color-bg-alt: #c3bcbc;
  --color-text-alt: #111;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: roc-grotesk, sans-serif;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.codrops-scroll-grid.loading::before,
.codrops-scroll-grid.loading::after {
  content: "";
  position: fixed;
  z-index: 1000;
}

.codrops-scroll-grid.loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}

.codrops-scroll-grid.loading::after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-link);
  animation: codrops-scroll-grid-loader 0.7s linear infinite alternate forwards;
}

@keyframes codrops-scroll-grid-loader {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}

.codrops-scroll-grid a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
}

.codrops-scroll-grid a:hover {
  color: var(--color-link-hover);
  outline: none;
}

.codrops-scroll-grid a:focus {
  outline: none;
  background: lightgrey;
}

.codrops-scroll-grid a:focus:not(:focus-visible) {
  background: transparent;
}

.codrops-scroll-grid a:focus-visible {
  outline: 2px solid red;
  background: transparent;
}

.codrops-scroll-grid .frame {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: grid;
  align-content: space-between;
  width: 100%;
  max-width: none;
  padding: 1rem;
  pointer-events: none;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "title" "prev" "sponsor" "demos";
}

.codrops-scroll-grid .frame a,
.codrops-scroll-grid .frame button {
  pointer-events: auto;
}

.codrops-scroll-grid .frame__title {
  grid-area: title;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  margin-bottom: 0.5rem;
}

.codrops-scroll-grid .frame__title-main {
  font-size: 1rem;
  margin: 0;
  font-weight: 400;
}

.codrops-scroll-grid .frame__title-back {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.codrops-scroll-grid .frame__title-back span {
  display: none;
}

.codrops-scroll-grid .frame__title-back svg {
  fill: var(--color-link);
}

.codrops-scroll-grid .frame__title-back:hover svg,
.codrops-scroll-grid .frame__title-back:focus svg {
  fill: var(--color-link-hover);
}

.codrops-scroll-grid .frame__demos {
  grid-area: demos;
}

.codrops-scroll-grid .frame__demos a {
  margin-left: 2rem;
  position: relative;
}

.codrops-scroll-grid .frame__demo--current,
.codrops-scroll-grid .frame__demo--current:hover {
  color: var(--color-text);
}

.codrops-scroll-grid .frame__prev {
  grid-area: prev;
  justify-self: start;
}

.codrops-scroll-grid .frame__demos-title {
  display: block;
}

.codrops-scroll-grid .grid {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.codrops-scroll-grid .grid__item {
  position: relative;
  will-change: transform;
  grid-column: var(--c);
  grid-row: var(--r);
}

.codrops-scroll-grid .grid__item-img {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  background-size: cover;
  background-position: 50% 50%;
  will-change: transform, opacity;
}

.codrops-scroll-grid.demo-1 .grid__item-img {
  filter: contrast(70%);
}

.codrops-scroll-grid .cover {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.codrops-scroll-grid .cover__title {
  font-family: novecento-sans-wide, sans-serif;
  font-size: 8vw;
  font-weight: 600;
  margin: 0;
}

.codrops-scroll-grid .cover__title sup {
  font-size: 4vw;
  font-weight: bold;
  vertical-align: 75%;
}

.codrops-scroll-grid .cover__subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}

.codrops-scroll-grid .footer {
  color: var(--color-text-alt);
  background: var(--color-bg-alt);
  height: 100vh;
  font-size: 5vh;
  line-height: 1.2;
  position: relative;
  z-index: 200;
  text-transform: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.codrops-scroll-grid .footer p {
  max-width: 40ch;
}

@media screen and (min-width: 53em) {
  .codrops-scroll-grid .frame {
    height: 100vh;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "prev sponsor" "... ..." "title demos";
  }

  .codrops-scroll-grid .frame__demos {
    justify-self: end;
    margin: 0 1rem;
    white-space: nowrap;
  }

  .codrops-scroll-grid .frame__demo--current::after {
    content: "";
    position: absolute;
    top: 100%;
    height: 120%;
    width: 1px;
    left: 50%;
    background: currentColor;
  }

  .codrops-scroll-grid .frame__demos-title {
    display: inline;
  }
}
